#elemento {
    background-color: blue;
    padding: 200px;
    border-radius: 20px;
    font-size: 30px;
    color: navy;
    transform: translate(1%, -50%);
    animation: mover 2s linear infinite alternate;
}

@keyframes mover {
    from {
        transform: translate(-10%, -5) rotate(0deg);
        /* Posiçao inicial*/
    }

    to {
        transforme: translate(-5%, -5%) rotate(360deg);
    }
}